<<<<<<< HEAD
/* NAVIGATION START */

.main-nav {
  color: #000066;
  display: inline-block;
  float: left;
  position: relative;
  margin: 10px;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  margin: 2px;
}

nav a {
  text-decoration: none;
}

.sub-menu-parent {
    font-size: 2em;
    line-height: 70px;
    list-style: none;
    position: relative;
=======
/* Bio Stylings*/

#bio {
  
  background: #A1C0B6;
  background-image: radial-gradient(#F9EED3, #A1C0B6);
  color: #081B28;
  margin: ;
/*  arbitrary width  */
  width: 100%;
}

#bio header {
  display: flex;
  justify-content: space-between;
>>>>>>> origin/master
}

#bio header section {
  background: rgba(249, 238, 211, 0.55);
  border-radius: 45%;
  transition: border-radius 1s;
}

#bio article {
  display: flex;
  flex-flow: wrap row;
}

<<<<<<< HEAD
.sub-menu-link {
  font-size: 60%;
}

/* NAVIGATION END */

.front-page {
    background: lightcyan;
    background-image: radial-gradient(rgb(254,171,230), #fff);
    width: 500px;
    margin: 20px;
    position: relative;
    left: 8em;
}

footer {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

/* Bio Styling */

.bio-body {
    
}

.bio-p {
    display: inline-flex;
    justify-content: space-around;
=======
#bio article section {
  flex: 1 20%;
>>>>>>> origin/master
}