/* Bio Stylings*/

#bio {
  
  background: #A1C0B6;
  background-image: radial-gradient(#F9EED3, #A1C0B6);
  color: #081B28;
  margin: ;
/*  arbitrary width  */
  width: 100%;
}

#bio header {
  display: flex;
  justify-content: space-between;
}

#bio header section {
  background: rgba(249, 238, 211, 0.55);
  border-radius: 45%;
  transition: border-radius 1s;
}

#bio article {
  display: flex;
  flex-flow: wrap row;
}

#bio article section {
  flex: 1 20%;
}