/* NAVIGATION START */

.main-nav {
  color: #000066;
  display: inline-block;
  float: left;
  position: relative;
  margin: 10px;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  margin: 2px;
}

nav a {
  color: darkblue;
  text-decoration: none;
}

.sub-menu-parent {
    background: lightcyan;
    font-size: 2em;
    line-height: 70px;
    list-style: none;
    position: relative;
}

.sub-menu { 
  position: fixed;
  left: -.9em;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}

.sub-menu-link {
  font-size: 60%;
}

/* NAVIGATION END */

.front-page {
    background: lightcyan;
    background-image: radial-gradient(rgb(254,171,230), #fff);
    width: 500px;
    margin: 20px;
    position: relative;
    left: 8em;
}
