/* CSS GENERAL STYLING BELOW */
header {
  background: rgba(255, 0, 0, 0);
  padding: 1em;
  width: 100%;
  position: fixed;
  top: 0;
 
}





/* NAVIGATION START */


.main-nav {
  color: #000066;
  display: inline-block;
  float: left;
  position: relative;
  margin: 10px;
  height: 50px;
  width: 50px;
  display: block;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  margin: 2px;
}

nav a {
  color: black;
  text-decoration: none;
}

.sub-menu-parent { 
  background: lightcyan;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 2em;
  line-height: 70px;
  list-style: none;
  position: relative; 
  border-radius: 50%;
}

.sub-menu { 
  position: fixed;
  left: -.9em;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}

.sub-menu-link {
  font-size: 70%;
}

/* NAVIGATION END */

.front-page {
  height: 500px;
  width: 500px;
  margin: 20px;
  position: fixed;
  left: 8em;
}


/* NAVIGATION END */

.front-page {
  height: 500px;
  width: 500px;
  margin: 20px;
  position: relative;
}
